body {
    background-color: #e0f7fa; /* Ciano bem claro e suave */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fallback de fonte */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #0288d1;
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #43a047;
    font-size: 50px;
    margin-top: 0;
}

p {
    text-align: center;
    color: #7b1fa2;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 50px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}